/ClassExercise/nbproject/private/
/ClassExercise/build/
/JAVATESTER/nbproject/private/
/myfifthproject/nbproject/private/
/myfifthproject/build/
/CLASSPROJECT/nbproject/private/
/Javaclassproject/target/
/Javaclass/nbproject/private/
/ORADI INVENTORY SYSTEM/nbproject/private/
/ORADI INVENTORY SYSTEM/build/
/ORADI INVENTORY SYSTEM/dist/
